<settings>
  <background>
    <alpha>100</alpha>
    <border_alpha>20</border_alpha>
  </background>
  <grid>
    <x>
      <alpha>5</alpha>
      <approx_count>8</approx_count>
    </x>
    <y>
      <alpha>5</alpha>
      <fill_alpha>5</fill_alpha>
    </y>
  </grid>
  <values>
    <x>
      <min>-120</min>
      <max>0</max>
      <skip_first>0</skip_first>
      <unit>d</unit>
    </x>
  </values>
  <balloon>
    <max_width>2</max_width>
  </balloon>
  <legend>
    <enabled>0</enabled>
  </legend>
  <help>
    <balloon>
      <text>Select the area to enlarge</text>
    </balloon>
  </help>
  <graphs>
    <graph gid="0">
      <color>FF0000</color>
      <alpha>0</alpha>
      <balloon_text>
        <![CDATA[{y}]]>                                             
      </balloon_text>      

      <bullet>round_outlined</bullet>
      <bullet_size>3</bullet_size>
    </graph>
  </graphs>
  <labels>
    <label lid="0">
      <text><![CDATA[<b>Bubble chart example</b>]]></text>
      <x>10</x>
      <y>20</y>
      <align>center</align>
    </label>
  </labels>
</settings>